@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom scrollbar styles */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 1%, 73%, 0.745);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.icon-style {
  @apply h-12 w-12 md:h-16 md:w-16 transition-all duration-300 transform ease-in-out;
}

.icon-style:hover {
  @apply scale-110 shadow-lg;
}